---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro'; 
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import graduationImg from '../assets/Graduation.jpeg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> 🤠 Hola, soy Denisse!</h1>
			<p>I'm a software engineer and AI enthusiast originally from Parral, Chihuahua, México. 
				I care a lot about building things that are useful, thoughtful, and well-crafted
				 whether that's a machine learning model, a full-stack dashboard, or a mentorship program 
				 for students who look like me. I just graduated with my M.S. in Artificial Intelligence at UTEP 
				 and looking for what comes next. I'm drawn to problems that are technically interesting 
				 and genuinely matter to people.
			</p>
			<Image src={graduationImg} alt="Graduation" />
		</main>
		<Footer />
	</body>
</html>
